<form method="post" action="{{ path('modele_admin_supprimer', {'id': unModele[0].id }) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unModele[0].id ) }}">
    <button class="btn btn-danger fs-11"><i class="fa-solid fa-trash"></i></button>
</form>