<nav class="navbar navbar-dark p-content">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" id="navbar-admin">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="titre-page">
        <p class="mb-0">{# titre page #}</p>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="menu-liens" class="navbar-nav flex-column">
                <a class="nav-item nav-link active" href="#">Véhicules</a>
                <a class="nav-item nav-link active" href="#">Clients</a>
                <a class="nav-item nav-link active" href="#">Interventions</a>
                <a class="nav-item nav-link active" href="#">Facturation</a>
            </div>
            <div id="menu-admin">
                <div class="flex-row justify-content-center">
                    <a href="#" class="nav-item nav-link pr-2" title="Se déconnecter">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="flex-column text-center">
                    <p class="mb-0 text-dark">{# Nom utilisateur connecté #}</p>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ asset('images/logo_cercle.png') }}" alt="logo" id="logo" class="rounded float-left" title="Logo du Garage Vendelais" />
</nav>