<form method="post" action="{{ path('utilisateur_admin_supprimer', {'id': unUtilisateur.id }) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unUtilisateur.id ) }}">
    <button class="btn btn-danger fs-11"><i class="fa-solid fa-trash"></i></button>
</form>